# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# React build cache
/.vite/
/coverage/

# IDE files
.vscode/
.idea/

# Optional: local DB files
*.sqlite